<!--&gt;>>>>>>bai name -card<<<<<<<<-->
<!--<app-name-card cardName="Professinal Dev" email="prodev@gmail.com" phone="12345678"></app-name-card>-->
<!--&gt;>>>>>>>>bai progress-bar<<<<<<<<<<-->
<!--<app-progress-bar width="65" backgroundColor="#d9d9d9" progressColor="#4CAF50"></app-progress-bar>-->
<!--&gt;>>>>>>>bai binh chon ket qua<<<<<<<<<<<-->
<!--<app-vote-for-results [ratingValue]="5" [max]="10" (rateChange)="onRateChange($event)"></app-vote-for-results>-->
<!--&gt;>>>>>>>>>>>bai countdown-timer<<<<<<<<<<<<<<-->
<app-countdown-timer [seconds]="11"></app-countdown-timer>
